{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row mt-3">
                <div class="col md-6">
                    <form action="{{ url_for('.login') }}" method="POST"
                          id="login_form">
                        <div class="form-group">
                            <label for="username">Username:</label><input
                                class="form-control" type="text" id="username"
                                name="username" required><br/>
                            <label for="password">Password:</label><input
                                class="form-control" type='password' id="password"
                                name="password" required>
                            <button type="submit" class="btn btn-primary mt-4">
                                Submit
                            </button>
                            <div class="mt-4">
                                <a href="/create_account">Not a User? Create an Account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}